{% extends 'authentication/index.html' %}
{% load staticfiles %}

{% block signup %}
	<h2 class="title-border custom mb40">Create Account</h2>
                        
                        <p>if you don't have an account, please go to register page and create one to continue your shopping. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero possimus alias totam tenetur neque necessitatibus voluptatibus commodi nobis libero ratione magnam mollitia, assumenda perferendis ipsum aut porro veritatis unde placeat.</p>
                        <p>Praesentium amet aut officia illum modi consequatur voluptates deserunt hic dolorum, ducimus porro odio pariatur sint dolor natus obcaecati?</p>
                        
                        <div class="mb10"></div><!-- space -->

                        <a href="register.html" class="btn btn-dark">Create Account</a>
{% endblock %}